<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Výsledky ankety</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Výsledky ankety</h1>
</body>
</html>