body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


h1 {
    color: white;
    background-color: blue;
    font-size: 30pt;
    padding: 10px;
    margin: 0;
    text-align: center;
}

h2 {
    color: #2955b4;
    text-align: center;
    text-transform: uppercase;
}


.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type=text],
input[type=number],
select,
input[type=range] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type=submit] {
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#importanceValue {
    margin-left: 10px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}

/* Úprava vzhledu tabulky */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Přidáváme trochu paddingu na stránky pro lepší vzhled */
.container {
    max-width: 960px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
